<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Ubiquitous.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Ubiquitous.Properties.Settings>
            <setting name="SteamAdmin" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamBot" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchUser" serializeAs="String">
                <value />
            </setting>
            <setting name="Sc2tvUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamBotPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Sc2tvPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamBotAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamAdminId" serializeAs="String">
                <value />
            </setting>
            <setting name="sc2tvSanitizeSmiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchSendStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchBitrateAlarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchBitrateCriticalValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="skypeSkipGroupMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sc2tvPersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchPersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skypeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sc2tvEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamChatAlias" serializeAs="String">
                <value>@stm</value>
            </setting>
            <setting name="twitchChatAlias" serializeAs="String">
                <value>@ttv</value>
            </setting>
            <setting name="sc2tvChatAlias" serializeAs="String">
                <value>@sc2</value>
            </setting>
            <setting name="skypeChatAlias" serializeAs="String">
                <value>@sky</value>
            </setting>
            <setting name="goodgameEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameChatAlias" serializeAs="String">
                <value>@gg</value>
            </setting>
            <setting name="goodgamePersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchLeaveJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameLeaveJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameSanitizeSmiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameUser" serializeAs="String">
                <value />
            </setting>
            <setting name="goodgamePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="goodgameLoadHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="battlelogEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="battlelogChatAlias" serializeAs="String">
                <value>@bbl</value>
            </setting>
            <setting name="battlelogPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="battlelogShowFeedEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="battlelogEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="battlelogNick" serializeAs="String">
                <value />
            </setting>
            <setting name="gohaChatAlias" serializeAs="String">
                <value>@gtv</value>
            </setting>
            <setting name="GohaUser" serializeAs="String">
                <value />
            </setting>
            <setting name="GohaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="gohaSendStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaPersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaLeaveJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GohaIRCChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="enableXSplitStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableStatusServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaStreamControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaStreamControlOnStartExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireAlias" serializeAs="String">
                <value>@etv</value>
            </setting>
            <setting name="empireUser" serializeAs="String">
                <value />
            </setting>
            <setting name="empirePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="empireSendStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empirePersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireLeavJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireLoadHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sc2tvId" serializeAs="String">
                <value />
            </setting>
            <setting name="twitchCurrentChatNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="steamCurrentChatNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="globalOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalHideBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSmileImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sc2ShowSmileImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalTransparency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sc2StreamAutoSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedSettingsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cyberEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cyberAlias" serializeAs="String">
                <value>@cyb</value>
            </setting>
            <setting name="cyberUser" serializeAs="String">
                <value />
            </setting>
            <setting name="cyberPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="obsRemoteEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="obsHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="isFullscreenMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFormPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mainformTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainformStartPos" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
            <setting name="mainformWidth" serializeAs="String">
                <value>740</value>
            </setting>
            <setting name="mainformHeight" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="twitchDebugMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaDebugMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalChatFont" serializeAs="String">
                <value>Tahoma, 9.75pt, style=Bold</value>
            </setting>
            <setting name="globalChatBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="globalToolBoxBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="globalChatTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="globalChatEnableTimestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalTimestampForeground" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="globalTimestampFont" serializeAs="String">
                <value>Tahoma, 9.75pt, style=Bold</value>
            </setting>
            <setting name="globalChat2Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalChatImageFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="globalFullSize" serializeAs="String">
                <value>515, 388</value>
            </setting>
            <setting name="globalCompactSize" serializeAs="String">
                <value>515, 388</value>
            </setting>
            <setting name="globalSmoothScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sc2LastMsgId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="globalViewersLocation" serializeAs="String">
                <value>0, 27</value>
            </setting>
            <setting name="globalToolsLocation" serializeAs="String">
                <value>54, 0</value>
            </setting>
            <setting name="hashdAlias" serializeAs="String">
                <value>@htv</value>
            </setting>
            <setting name="hashdUser" serializeAs="String">
                <value />
            </setting>
            <setting name="hashdPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="hashdEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalEnableSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="globalSoundOfflineFile" serializeAs="String">
                <value>offline.mp3</value>
            </setting>
            <setting name="globalSoundOnlineFile" serializeAs="String">
                <value>online.mp3</value>
            </setting>
            <setting name="globalCounterTotal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="globalCounterCybergame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalCounterHashd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalCounterTwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalCounterPosTwitch" serializeAs="String">
                <value>0, 1</value>
            </setting>
            <setting name="globalCounterPosHashd" serializeAs="String">
                <value>0, 21</value>
            </setting>
            <setting name="globalCounterPosCybergame" serializeAs="String">
                <value>0, 41</value>
            </setting>
            <setting name="globalCounterPosTotal" serializeAs="String">
                <value>0, 101</value>
            </setting>
            <setting name="globalCounterTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="globalCounterBackColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="globalCounterFont" serializeAs="String">
                <value>Times New Roman, 9.75pt, style=Bold</value>
            </setting>
            <setting name="appearanceMsgFormat" serializeAs="String">
                <value>%t (%s%d@%c)</value>
            </setting>
            <setting name="appearanceGrpMessageFormat" serializeAs="String">
                <value>%t (%s@%sg)</value>
            </setting>
            <setting name="globalUseChroma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="webPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="webEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastFmEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastFmLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="lastFmPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="twitchChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="globalCounterGoodgame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globalCounterPosGoodgame" serializeAs="String">
                <value>0, 81</value>
            </setting>
            <setting name="globalPersonalMessageBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="personalMessageColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="globalPersonalMessageFont" serializeAs="String">
                <value>Tahoma, 9.75pt, style=Bold</value>
            </setting>
            <setting name="obsChatSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="obsChatSourceName" serializeAs="String">
                <value>chat</value>
            </setting>
            <setting name="obsChatTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="twitchMeForeColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="twitchMeBackcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="twitchMeFont" serializeAs="String">
                <value>Tahoma, 9.75pt, style=Bold</value>
            </setting>
            <setting name="generalHistoryLines" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="youtubeID" serializeAs="String">
                <value />
            </setting>
            <setting name="youtubeEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="youtubeAlias" serializeAs="String">
                <value>@you</value>
            </setting>
            <setting name="youtubeLastTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="globalCounterPosYoutube" serializeAs="String">
                <value>0, 61</value>
            </setting>
            <setting name="globalCounterYoutube" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchOAuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="cyberNickColor" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="empireNickColor" serializeAs="String">
                <value>148, 17, 30</value>
            </setting>
            <setting name="gohaNickColor" serializeAs="String">
                <value>212, 208, 200</value>
            </setting>
            <setting name="goodgameNickColor" serializeAs="String">
                <value>82, 112, 156</value>
            </setting>
            <setting name="hashdNickColor" serializeAs="String">
                <value>54, 127, 194</value>
            </setting>
            <setting name="youtubeNickColor" serializeAs="String">
                <value>187, 17, 10</value>
            </setting>
            <setting name="twitchNickColor" serializeAs="String">
                <value>99, 64, 164</value>
            </setting>
            <setting name="sc2NickColor" serializeAs="String">
                <value>105, 210, 255</value>
            </setting>
            <setting name="globalMouseTransparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gmtvEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gmtvAlias" serializeAs="String">
                <value>@gmt</value>
            </setting>
            <setting name="gmtvUser" serializeAs="String">
                <value />
            </setting>
            <setting name="gmtvPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="gmtvColor" serializeAs="String">
                <value>51, 111, 255</value>
            </setting>
            <setting name="gmtChannelUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="gmtLastdate" serializeAs="String">
                <value>undefined</value>
            </setting>
            <setting name="jetsetEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jetsetAlias" serializeAs="String">
                <value>@jet</value>
            </setting>
            <setting name="jetsetUser" serializeAs="String">
                <value />
            </setting>
            <setting name="jetsetPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="jetsetNickColor" serializeAs="String">
                <value>98, 149, 156</value>
            </setting>
            <setting name="jetsetLastTimeStamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="appearanceFontSmooth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="twitch_ShortDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="twitch_Game" serializeAs="String">
                <value />
            </setting>
            <setting name="sc2tv_ShortDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="sc2tv_LongDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="globalDefaultChat" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="sc2tv_Game" serializeAs="String">
                <value />
            </setting>
            <setting name="goodgame_ShortDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="goodgame_Game" serializeAs="String">
                <value />
            </setting>
            <setting name="cybergame_ShortDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="cybergame_Game" serializeAs="String">
                <value />
            </setting>
            <setting name="goha_ShortDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="goha_Game" serializeAs="String">
                <value />
            </setting>
            <setting name="currentProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="generalSuppressErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generalSuppressNotices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appearTimestampColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="appearTimestampBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="appearTimestampFont" serializeAs="String">
                <value>Tahoma, 9.75pt</value>
            </setting>
            <setting name="globalShowCommandBarInCompact" serializeAs="String">
                <value>False</value>
            </setting>
        </Ubiquitous.Properties.Settings>
    </userSettings>
</configuration>
