html,body {
	margin : 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	font-size:14px;
	font-weight:bold;
	background-color:#000000;
	color:#00AA00;
	
}
li.personalmsg
{
    background-color:#171717;
    color: yellow;
    padding: 1 0 1 10;
    border:1px solid DarkSlateGray;
}
#chat {
	margin: 0;
	overflow : auto;
}
p
{
    white-space: normal;
}
li
{       
    white-space: normal;
    list-style-type:none;
}
li span {display:block;}

li.Sc2Tv {
    list-style-image: url('/images/sc2icon.png');
}
li.TwitchTV {
    list-style-image: url('/images/twitchicon.png');
}
li.Skype {
    list-style-image: url('/images/skypeicon.png');
}
li.SkypeGroup {
    list-style-image: url('/images/skypeicon.png');
}
li.Steam {
    list-style-image: url('/images/steamicon.png');
}
li.SteamAdmin {
    list-style-image: url('/images/steamicon.png');
}
li.Console {
    list-style-image: url('/images/adminicon.png');
}
li.Bot {
    list-style-image: url('/images/adminicon.png');
}
li.Goodgame {
    list-style-image: url('/images/goodgameicon.png');
}
li.Battlelog {
    list-style-image: url('/images/bf3icon.png');
}
li.Empiretv {
    list-style-image: url('/images/empire.bmp');
}
li.Gohatv {
    list-style-image: url('/images/goha.bmp');
}
li.Youtube {
    list-style-image: url('/images/youtube.png');
}
li.Cybergame {
    list-style-image: url('/images/cybergame.gif');
}
li.Hashd {
    list-style-image: url('/images/hashd.png');
}
li.Music {
    list-style-image: url('/images/music.png');
}
li.GamersTV {
    list-style-image: url('/images/gamerstvicon.png');
}
li.JetSet {
    list-style-image: url('/images/jetset.png');
}
h3 {
	margin-top:1px;
	padding:0px;
	height:100%;

}
span {
	height:100%;
	float:left;
	margin-top:1px;
	margin-left:5px;
}
span.MicOff 
{
	background-image: url('/images/micoff.png');
	padding-left:16px;
}
span.MicOn
{
    background-image: url('/images/micon.png');
	padding-left:16px;
}
span.Bot {
	background-image: url('/images/adminicon.png');
	background-repeat: no-repeat;
	padding-left:18px;
	margin-left:0px;
}

.fixedblock 
{
	position:fixed;	
	
}
#statusbar
{
	background-color:rgba(70,70,70,0.75);
	-moz-border-radius: 7px;
	border-radius: 7px;
	width:320px;
	padding:5px;
	height:18px;	
}

